* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  width: 100px;
  height: 100px;
  background-color: rgb(185, 19, 19);
}

/* p:nth-of-type(3),
p:nth-of-type(5),
p:nth-of-type(7) {
  background-color: rgb(47, 202, 223);
} */

.blue-bg {
  background-color: rgb(47, 202, 223);
}

.bg-opacity {
  opacity: 50%;
}
