* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  background-color: #808080;
  width: 350px;
  height: 100vh;
  padding: 10px 20px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

div {
  background-color: #fea500;
  width: 150px;
  height: 150px;
  margin: 12.5px;
}
